header {
  height: 2.4rem;
  /* background-color: #59437B; */
  background-color: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.app-icon {
  padding: 0.25rem 0 0.25rem 0.5rem;
  height: 2.5rem;
}

.logo-img {
  height: 100%;
  object-fit: contain;
}

.logo-img:hover {
  cursor: pointer;
}

.nav {
  margin-right: 1rem;
}

a.nav {
  text-decoration: none;
  color: #DDDDDD;
}

a.nav:hover {
  color: rgb(89, 186, 183);
}