header {
  min-height: 2rem;
  /* background-color: #59437B; */
  background-color: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-icon {
  padding: 0.25rem 0 0.25rem 0.5rem;
  height: 2.5rem;
}

.logo-img {
  height: 100%;
  object-fit: contain;
}

.logo-img:hover {
  cursor: pointer;
}

.nav-tutorial {
  margin-right: 1rem;
}

.nav-tutorial, a {
  text-decoration: none;
  color: #DDDDDD;
}