.chart-name-input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  max-width: 12rem;
}

.chart-name-label {
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 0;
}

.submit-chart-btn {
  background-color: #59BAB7;
  font-size: 1.3rem;
  min-width: 8rem;
}

.cancel-form-btn {
  background-color: #DA4539;
  min-width: 8rem;
}

.chart-btns-container {
  display: flex;
  justify-content: space-around;
}

.chart-name-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}